
<div class="page-header">
<div class="well bs-component">
  <form class="form-horizontal" id="flight_search">
  <fieldset>
    <legend>Flight Search Form</legend>
    <div class="form-group is-empty">
      <label for="fromLocation" class="col-md-1 control-label" style="width: 120px;">From location : </label>

      <div class="col-md-2">
        <input type="text" class="form-control" id="fromLocation" placeholder="From location">
      </div>

      <label for="toLocation" class="col-md-1 control-label">To location : </label>

      <div class="col-md-2">
        <input type="text" class="form-control" id="toLocation" placeholder="To location">
      </div>

      <label for="travelDate" class="col-md-1 control-label">Travel date : </label>

      <div class="col-md-2">
        <input type="text" class="form-control" id="travelDate" placeholder="Travel date">
      </div>

      <div class="col-md-2">
        <a href="#" class="btn btn-raised btn-info" id="submitBtn" style="margin-top: 0px;">
          Search
          <div class="ripple-container"></div>
        </a>
      </div>
    </div>
  </fieldset>
  </form>
</div>

</div>
