
{{> search_form}}


<div id="flight_list" class="well bs-component" style="display: none">
  <ul id="flightNavTabs" class="nav nav-tabs" style="margin-bottom: 15px;"></ul>
  <div id="flightTabContent" class="tab-content"></div>
</div>
